<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Configurar Wi-Fi</title>
  </head>
  <body>
    <h1>Configuração de Rede Wi-Fi</h1>
    <form action="/configure-wifi" method="post">
      <label for="ssid">SSID:</label
      ><input type="text" id="ssid" name="ssid" /><br /><br /><label
        for="password"
        >Senha:</label
      ><input type="password" id="password" name="password" /><br /><br /><input
        type="submit"
        value="Enviar"
      />
    </form>
    <script>
      const params = new URLSearchParams(window.location.search);
      if (params.get("error") === "1") {
        alert("Credenciais inválidas!");
      }
    </script>
  </body>
</html>
